.App {
  position: relative;
  height: 100%;
  width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.refresh-button {
  padding: 10px;
  background: rgb(54, 54, 54);
  color: white;
  text-decoration: none !important;
}
.refresh-button:hover {
  color: white !important;
  background: rgb(170, 170, 170);
}

/* Home  */
.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Search Bar */
.search-container {
  margin: 40px 10px;
  font-size: 1.5rem;
}
.search-container .search-icon {
  margin-right: 13px;
}
.search-container label {
  margin-right: 20px;
  padding: 0 !important;
}

/* Calendar */
.calendar {
  margin: 20px 10px;
}

/* Total */
.total {
  margin: 10px 10px;
}
.total span {
  font-weight: bold;
}

/* Table */
.table-container {
  padding: 20px 0 0 0;
}
.table-container thead th {
  color: rgb(83, 83, 83);
  font-size: 1rem;
}
.table-container tbody td {
  font-size: 0.85rem;
}

/* Pagination */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.pagination-container .total-order {
  color: rgb(92, 92, 92);
  font-size: 0.85rem;
  margin-right: 10px;
}
.pagination-container select {
  margin-right: 10px;
  color: rgb(73, 73, 73);
  padding: 5px;
  font-size: 0.85rem;
  transform: translateY(-4px);
  border: 1px solid rgb(160, 160, 160);
  border-radius: 4px;
  background: none;
}
.pagination-container .current-page {
  margin: 0 20px;
  color: rgb(73, 73, 73);
  transform: translateY(-4px);
}
.pagination-container .current-page input {
  border: 1px solid rgb(160, 160, 160);
  border-radius: 4px;
  margin: 0 10px;
  text-align: center;
  width: 40px;
  height: 30px;
  font-size: 0.85rem;
}
.pagination-container .current-page .pagination-icon {
  cursor: pointer;
}
.pagination-container .current-page .pagination-icon:hover {
  color: gray;
}
.pagination-container .go-to {
  font-size: 0.85rem;
  color: rgb(73, 73, 73);
  margin-right: 5px;
}
.pagination-container #goTo {
  border: 1px solid rgb(160, 160, 160);
  border-radius: 4px;
  margin: 0 10px;
  width: 40px;
  text-align: center;
  height: 30px;
  font-size: 0.85rem;
  transform: translateY(-4px);
}
/* Calendar */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  padding: 0;
  margin: 0;
}
#startDate {
  margin-right: 10px;
}
input[type="date"] {
  font-size: 14px;
}
.submit-button {
  font-size: 12px;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  background: rgb(54, 54, 54);
  color: white;
  text-decoration: none !important;
}
.submit-button:hover {
  color: white !important;
  background: rgb(170, 170, 170);
}

/* Loader */
.loader {
  margin: auto;
  margin-bottom: 100px;
  border: 5px solid #e2e2e2; /* Light grey */
  border-top: 5px solid #82a0d8; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
